<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0.0"
        id          = "com.cisc.sssten"
        version     = "1.0.0" >

    <name>SSS10</name>

    <description>
        Permissible Structural Steel Seismic-Force-Resisting Systems in accordance with NBC 2010 and CSA S16-09.
    </description>

    <author href="https://build.phonegap.com" email="contact@tranceserve.com">
      TS TEAM    
    </author>
    
    <icon src="res/android/icon-72-hdpi.png" />

    <icon gap:platform="android" gap:qualifier="ldpi" src="res/android/icon-36-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/android/icon-48-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/android/icon-72-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" srcdro="res/android/icon-96-xhdpi.png" />
    
    <icon gap:platform="ios" height="57" src="res/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/ios/icon-114.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/ios/icon-72-2x.png" width="144" />
    
    <access origin="*" />

    
</widget>